.header {
    justify-content: space-between;
    align-items: flex-start;
}

.filter__panel{
    gap: 8px;
}

.btn{
    margin-left: 0.5rem;
}

.main_title{
    margin: 13px 0px 10px 0px;
}

.main_title h2{
    font-weight: 400;
    font-size: 24px;
}

.custom__popover{
    cursor: pointer;
}

.card{
    width: 400px !important;
}

.header{
    justify-content: space-between !important;
    align-items: center;
    margin: 13px 0px 10px 0px;
}

.btn_container{
    gap: 8px;
}

.btn_success{
    background-color: #1B9F3C !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

.btn_red{
    background-color: red !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

.btn_success:disabled,
.btn_red:disabled {
  background-color: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.25) !important;
  border-color: #d9d9d9 !important;
  cursor: not-allowed;
}

.btn_success:disabled:hover,
.btn_red:disabled:hover {
  background-color: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.25) !important;

}