.header {
    padding: 0 !important;
    height: auto !important;
}
  
.sidebar {
    height: 100%;
    background-color: #F0F0F0 !important;
} 

.main_layout {
    height: 100vh;
}

.content {
    overflow: auto;
}