.header {
    justify-content: space-between;
    align-items: flex-start;
}

.filter__panel{
    gap: 8px;
}

.btn{
    margin-left: 0.5rem;
}

.main_title{
    font-weight: 400;
    font-size: 24px;
}

.navigation__info{
    flex-direction: column !important;
    gap: 13px !important;
}

.filter_panel{
    justify-content: flex-end;
    gap: 8px;
}
.cards_analysis{
    margin-top: 36px;
}

.card{
    width: 278px;
    height: 209px;
    border-radius: 0px !important;
    border: 1px solid #D9D9D9 !important;
}

.card_body{
    padding: 18px 24px !important;
}

.card_header{
    justify-content: space-between;
    margin-bottom: 12px;
}

.info_icon{
    cursor: pointer;
}

.rest{
    font-size: 14px !important;
    color: #00000073 !important;
    font-weight: 400 !important;
}

.card_info{
    flex-direction: column;
}

.card_title{
    font-size: 30px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
}

.card_info_container{
    margin-top: 12px ;
    flex-direction: column;
}

.card_text{
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
}

.icon_up{
    color: #1B9F3C !important;
}

.icon_down{
    color: red !important;
}

.divider{
    margin: 4px 0px !important;
}

.spinner{
    width: 100%;
    height: 48px;
}

.analysis{
    margin-top: 6px;
}

.main_progress{
    align-items: flex-end;
    height: 70px;
}

.progress{
    cursor: pointer;
}

.progress :global(.ant-progress-outer .ant-progress-inner .ant-progress-bg){
    background-color: #36cfc9 !important;
}

.analysis_main{
    margin-top: 36px;
}

.btn{
    height: 32px !important;
}

.header{
    margin-top: 18px;
}

.graph{
    border: 1px solid #D9D9D9 ;
    margin-top: 29px;
}

.graph_container{
    margin: 18px 24px 0px 24px;
}

.graph_main_title{
    font-size: 14px;
    font-weight: 400;
}

.statistics{
    flex-direction: column;
}

.graph_navigation{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 20px;
}

.graph_navigation__item{
    display: flex;
    justify-content: space-between;
}

.graph_navigation__item li{
    list-style-type: none;
    text-align: left;
    width: 80px;
}

.graph_navigation__item .circle{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4D4F;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.graph_navigation__item span {
    text-align: left;
    width: 80px;
}