.header {
    justify-content: space-between;
    align-items: flex-start;
}

.filter__panel{
    gap: 8px;
}

.btn{
    margin-left: 0.5rem;
    background-color: red !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    
}

.main_title{
    margin: 13px 0px 10px 0px;
}

.main_title h2{
    font-weight: 400;
    font-size: 24px;
}

.custom__popover{
    cursor: pointer;
}

.card{
    width: 400px !important;
}

.table_title{
    color: #0000FF !important;
    cursor: pointer;
}