.ant-btn.ant-btn-text.ant-btn-variant-text {
  padding: 0;
  height: auto;
}

.ant-btn.css-dev-only-do-not-override-32euoh.ant-btn-text.ant-btn-variant-text:hover {
  background-color: transparent;
}

.ant-layout.css-dev-only-do-not-override-1pmdub9 {
  background-color: #F4F8FF;
}

/* Ant Design Primary Button */

.ant-btn.ant-btn-color-primary {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  text-align: left;
  min-width: 146px;
  height: 42px;
  padding: 8px 20px;
  gap: 10px;
  border-radius: 100px;
}

.ant-btn.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  text-align: left;
  min-width: 146px;
  height: 42px;
  padding: 8px 20px;
  gap: 10px;
  border-radius: 100px;
}

.ant-btn.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid.ant-btn-icon-end {
  padding: 8px 12px 8px 20px;
}

.ant-btn.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid.ant-btn-icon-only {
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  min-width: 42px;
  height: 42px;
  padding: 8px 20px;
  gap: 10px;
  border-radius: 100px;
}

.ant-btn.ant-btn-icon-only .anticon > svg {
  width: 24px;
  height: 24px;
}

/* _____________________________________________Ant Design Input Radio */
.ant-radio-wrapper .ant-radio span {
  width: 20px;
  height: 20px;
}

.ant-radio-wrapper.ant-radio-wrapper-checked > .ant-radio-checked > .ant-radio-inner {
  background-color: transparent;
  border-color: #000;
}

.ant-radio-wrapper.ant-radio-wrapper-checked > .ant-radio-checked > .ant-radio-inner::after {
  transform: scale(0.8);
  background-color: #000;
}
