.navigation__info{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.header{
    margin: 22px 0px 17px 0px;
    display: flex;
    justify-content: space-between;
}

.navigation__info h2 {
    font-weight: 400;
    font-size: 24px;
}

.custom__popover{
    cursor: pointer;
}

.card{
    width: 400px !important;
}